<app-header></app-header>
<main>
    <h2 class="title">{{countryName}}</h2>
    <section class='infos'>

        <div class="info-panel">
            <p>Number of entries</p>
            <p class="number">{{numberOfEntries}}</p>
        </div>

        <div class="info-panel">
            <p>Total number of medals</p>
            <p class="number">{{numberOfMedals}}</p>
        </div>

        <div class="info-panel">
            <p>Total number of athletes</p>
            <p class="number"> {{numberOfAthletes}}</p>
        </div>

    </section>
    <app-line-chart *ngIf="olympicData" [data]="olympicData"></app-line-chart>
</main>