<app-header></app-header>
<main>
    <h2 class="title">Medals per Countries</h2>
    <section class='infos'>

        <div class="info-panel">
            <p>Number of JOs</p>
            <p class="number">{{numberOfJos}}</p>
        </div>
        
        <div class="info-panel">
            <p>Number of Countries</p>
            <p class="number">{{numberOfCountries}}</p>
        </div>
        
    </section>
    <app-pie-chart *ngIf="olympicData && olympicData.length > 0" [data]="olympicData"></app-pie-chart>
</main>
  